@import url("./modal.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url("./button.css");

*,*::before,*::after{

    box-sizing:border-box;

}

:root{

    --main-color:#7e56da;

}

html, body{

    margin:0;
    padding:0;
    font-family: 'Roboto Slab', sans-serif;

}

#open-modal{

    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%, -50%, 0);
}